body {
    overflow:hidden;
    margin:0;
}

button {
    background-color:transparent;
    text-align:center;
}

.container {
    background-color:rgb(73, 73, 73);
    height:100vh;
    margin:auto;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
}

.inner-box {
    background-color:rgb(43, 43, 43);
    margin:20px 0px 0px 20px;
    border-radius:1em;
}

.box1 {
    height:97vh;
    width:15vw;
}

.box2 {
    height:97vh;
    width:83vw;
}