body {
    overflow:hidden;
    margin:0;
}

button {
    background-color:transparent;
    text-align:center;
    border:none;
    color:white;
    width:10vw;
    height:4vh;
    margin-left:auto;
    margin-right:auto;
    margin-top:4vh;
    font-size:larger;
    font-weight:bold;
}

button:hover {
    background-color:rgba(14,13,18,255);;
    border-style: solid;
    border-radius:1em;
    border-color:transparent;
}

.container {
    background-color:rgba(14,13,18,255);
    height:100vh;
    margin:auto;
    display:grid;   
    grid-template-columns: 15vw 30vw 30vw 24.5vw;
    grid-template-rows: 10vh 40vh 50vh;
}

.inner-box {
    background-color:rgba(20,19,24,255);
    /*margin:20px 0px 0px 20px;*/
    border-radius:1em;
    margin:12px;
}

.top {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    margin: 12px 0px 12px 12px

}

.box1 {
    grid-column:1;
    grid-row:span 2;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.box2 {
    grid-column:span 3;
    grid-row:span 2;
    /*margin:20px 0px 0px 20px;*/
    margin:1px;
    border-radius:1em;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 60% 40%;
}

.top input {
    /*margin:auto; */
    margin-left:4vw;
    width:56vw;
    height:50px;
    border-radius:20px;
    background-color:rgba(14,13,18,255);
    color:white;
}

h1 {
    font-family: 'Arial', sans-serif; /* Change to your desired font */
}

.box2-1 {
    grid-column:1;
    grid-row:1;
    margin: 8px 0px 0px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2-2 {
    grid-column:2;
    grid-row:1;
    margin: 8px 0px 0px 8px
}
.box2-3 {
    grid-column:3;
    grid-row:1;
    margin: 8px 0px 0px 8px
}
.box2-4 {
    grid-column:span 3;
    grid-row:2;
    margin: 8px 0px 12px 8px
}
.dot1 {
    height:50%;
    width:50%;
    background-color:lightblue;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot2 {
    height:70%;
    width:70%;
    background-color:rgba(20,19,24,255);
    border-radius:50%;
    margin:auto;
}